 #feature-info {
          /*position: fixed;
          bottom: 10px;
          color: #9b59b6;
          padding-left: 250px;
          font-family: "Open Sans";
          font-size: 0.8em;*/
          position: absolute;
        height: 1px;
        width: 1px;
        z-index: 100;
      }
      .tooltip.in {
        opacity: 1;
      }
      .tooltip.top .tooltip-arrow {
        border-top-color: #333;
      }
      .tooltip-inner {
        /*border: 2px solid white;*/
        background-color: #333;
      
        }
        #panel-story {
             font-family: "Open Sans";
              position: fixed;              
              width: 30vw;             
              right: 0px;
              background-color: rgba(255,255,255,.4);
              overflow-y: auto;
              box-shadow: -2px -1px 5px #aaa;
            }
            
      .panel-story-carousel {
              height: 80%;
              top:10%;             
              box-shadow: -2px -1px 5px #aaa;
      }
      
       .panel-story-list {
              height: 100%;
              top:0px;
      }
      
      #content-title {
        font-family: "Open Sans";
          position: fixed;
          color: #9b59b6;
          left: 75px;
        }
        
        #map {
            position: fixed;
            width: 70vw;
            height: 100vh;
            margin: 0;
        }
        body {
            width:100%;
            height:100%;
            margin: 0;
            position: relative;
        }
        
        #splash {
            position:fixed;
            z-index: 50;
            width:100%;
            color: #ffffff;
            height:100%;
            background-color: rgba(12,12,12,.9);
        }
        
       
  
  .item-story {
      opacity: 0.4;
      /*min-height: 250px;*/
      color: #fff;  
      background-color: #DFDDDD;
      /*height: 450px;*/
  }
  
   .item-story.active {
      opacity: 1;
      color: #333; 
      background-color: #fff;
  }
  
  .ol-control button {
    background-color: rgba(155, 89, 182,0.5);
  }
  
  .ol-control button:hover, .ol-control button:focus {
    background-color: rgba(155, 89, 182,0.8);
  }
  
  .ol-custom-overviewmap,
      .ol-custom-overviewmap.ol-uncollapsible {
        bottom: 10px;
        left: 0;
        right: auto;
        top: auto;
      }

      .ol-custom-overviewmap:not(.ol-collapsed)  {
        border: 1px solid black;
      }

      .ol-custom-overviewmap .ol-overviewmap-map {
        border: none;
        width: 200px;
      }

      .ol-custom-overviewmap .ol-overviewmap-box {
        border: 2px solid #A39F9F;
      }

      .ol-custom-overviewmap:not(.ol-collapsed) button{
        bottom: auto;
        left: auto;
        right: 1px;
        top: 1px;
      }

 
 .carousel {  
  height: 100%;
  overflow-x: hidden;
}

.carousel-indicators {
  background-color: #d8d8d8;
  width: 100%;
  left: 132px;
}

.carousel-control {
  display: none;
  background: none!important;
}

.carousel-control span:hover {
  background-color: #8e44ad;
  border-radius: 15px;
}
  

.carousel-control span {
  background-color: #9b59b6;
  border-radius: 15px;
  box-sizing: border-box;
  line-height: 60px;
  height: 60px!important;
  width: 60px!important;
}

.carousel-indicators .active {    
  background-color: #8e44ad;
}

.progress {
    background: rgba(245, 245, 245, 1);
    border: 3px solid rgba(245, 245, 245, 1);
    border-radius: 0px; height: 10px;
    position: fixed;
    height: 10px;
    bottom: 0px;
    width: 100%;
    margin: 0;
}
.progress-bar-custom {    
    background: rgba(201, 65, 96, 1);
}

.nextButton {
  position: fixed;  
  top: 40%;  
  right: 100px;
  z-index: 10;
  background-color: rgba(12,12,12,.2);
  border-radius: 103px;
}

.nextButton a {
  display: block;
  width: 207px;
  height: 206px;
  background: url(../img/nextButton.png) 0 0 no-repeat;  
  cursor: pointer;
}

.nextButton a:hover {
  background: url(../img/nextButton.png) 0 -206px no-repeat;
}

.precButton {
  position: fixed;  
  top: 40%;  
  left: 100px;
  z-index: 10;
  background-color: rgba(12,12,12,.2);
  border-radius: 52px;
}

.precButton a {
  display: block;
  width: 104px;
  height: 103px;
  background: url(../img/precButton.png) 0 0 no-repeat;  
  cursor: pointer;
}

.precButton a:hover {
  background: url(../img/precButton.png) 0 -103px no-repeat;
}

 
  
  @media screen and (max-width: 810px) {
    #panel-story {
              position: relative;              
              width: 100%;
              height:50%;
            }
        
        #map {
            position: relative;
            width: 100%;
            height: 400px;
            margin: 0;
        }
     .item-story {
        /*margin-left: 150px;*/
    }
  }