/********************************************** STORY MAP PATRIMOINE | THEME 2 ***************************** /

/* ------------------ Intégration des fonts ------------------ */

@font-face {
    font-family: "roboto_black";
    src: url('../../css/fonts/Roboto/Roboto-Black.ttf');
}
@font-face {
    font-family: "roboto_bold";
    src: url('../../css/fonts/Roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: "roboto_regular";
    src: url('../../css/fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: "roboto_light";
    src: url('../../css/fonts/Roboto/Roboto-Light.ttf');
}
@font-face {
        font-family: "brandon_black";
        src: url('../../css/fonts/Brandon/Brandon_blk.otf');
        }

/* ------------------ SPLASH ------------------ */
#splash .story-btn-next {
    background-color: #fff;
    transform: translateY(189%);
    right: 48%;
}
#splash .story-btn-next a {
     display: block;
     width: 50px;
     height: 50px;
     background: url(image/nextButton.png) 0 0 no-repeat;
     cursor: pointer;
 }
 #splash .story-btn-next a:hover {
     background: url(image/nextButton.png) 0 -50px no-repeat;
 }
/* ------------------  MAP ------------------  */

/* Titre de la Story Map*/
#content-title {
    left: 10px!important;
}
#content-title h1{
    color:#000;
    font-family: 'brandon_black';
    font-size: 50px!important;
    letter-spacing: -1.5px;
    /*text-shadow: 0px 0px 7px rgba(0,0,0,0.9);
    background-color: rgba(0, 0, 0, 0.7);*/
    padding: 0px 10px 0px 10px;
}
#content-title h3{
    color:#000;
    font-family: 'roboto_bold';
    font-size: 30px!important;
    /*text-shadow: 0px 0px 7px rgba(0,0,0,0.75);*/
    margin-top: -10px;
    margin-left: 11px;
    /*letter-spacing: 1px;*/
}

/* Openlayers 3 controls */
.ol-control button {
    background-color: rgba(149, 165, 166, 0.5);
}
.ol-control button:hover,
.ol-control button:focus {
    background-color: rgba(149, 165, 166, 0.8);
}

/* Hide zoom controls */
.ol-zoom {
    display: none;
}
.ol-custom-overviewmap,
.ol-custom-overviewmap.ol-uncollapsible {
    bottom: 10px;
    left: 0;
    right: auto;
    top: auto;
}
.ol-custom-overviewmap:not(.ol-collapsed) {
    border: 0px solid #f5f5f5;
}
.ol-custom-overviewmap .ol-overviewmap-map {
    border: none;
    width: 200px;
}
.ol-custom-overviewmap .ol-overviewmap-box {
    border: 2px solid #A39F9F;
}
.ol-custom-overviewmap:not(.ol-collapsed) button {
    bottom: auto;
    left: auto;
    right: 1px;
    top: 1px;
}
.ol-zoom {
    top: 70%;
    left: 0.5em;
}
/* Carousel template */
.carousel-indicators {
    background-color: #d8d8d8;
}
.carousel-control span:hover {
    background-color: #8e44ad;
}
.carousel-control span {
    background-color: #9b59b6;
}
.carousel-indicators .active {
    background-color: #8e44ad;
}

/* bar de progression*/
.progress {
    background: rgba(245, 245, 245, 1);
    /*border: 3px solid rgba(245, 245, 245, 1);*/
    height: 8px!important;
}
#template .progress-bar-custom {
    background-color: #eec126!important;
}

/* button */
.carButton {
    background-color: rgba(153, 153, 153, 0);
}
.precButton{
    bottom: 4%!important;
    left: 20%!important;
}
.precButton a {
     background: url(image/precButton.png) 0 0 no-repeat!important;
 }
.precButton a:hover {
     background: url(image/precButton.png) 0 -50px no-repeat!important;
 }
.nextButton{
    bottom: 4%!important;
    right: 70%!important;
}
.nextButton a {
     background: url(image/nextButton.png) 0 0 no-repeat!important;
 }
.nextButton a:hover {
     background: url(image/nextButton.png) 0 -50px no-repeat!important;
 }
/* ----

/* custom-tooltip */
.tooltip-custom.tooltip-inner {
    background-color: #eec126;
    padding: 10px 8px 10px;
    color: #fff;
    font-family: "roboto_regular";
    font-size: 13px;
    letter-spacing: 1;
}
.tooltip-custom.tooltip.top .tooltip-custom.tooltip-arrow {
    border-top-color: #eec126;
}
.tooltip-custom h5 {
    margin-bottom: 0;
}
.tooltip-custom.tooltip.in {
    opacity: 1;
}
/*.item iframe {
    width: 100%;
    height: 100%;    
    border: none;    
}*/

/* ------------------ PANEL-STORY ------------------ */

/* Forme du panel */
#panel-story {
    font-family: "Open Sans";
    background-color: rgba(255,255,255,0.9);
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}
.item.background{
    top:-20px;
}
.item.background:before{
    opacity: 0.7;
}
/* Contenu édito*/
.carousel-inner{
    overflow-y: auto;
}
/*.carousel-inner h2{
    padding-left: 30px;
    color: #eec126;
    margin-left: 0px!important;
    /*padding-top:6%;
    font-family: "roboto_black";
    font-size: 30px;
}*/
/*#panel-story .resume{
	margin-left: 30px;
	color: #333;
	font-family: "roboto_light";
	font-size: 15px;
	padding-right: 30px;
	text-align: justify;
    margin-top: 15px;
}*/
/* Vidéos BA */
/*.url_ba {
    width: 100%;
    height: 35%;
    padding-right: 30px;
    padding-left: 30px;
    border: none;
}*/

/* Iframe */
/*.iframe{
    width: 100%;
    height: 330px;
    padding-right: 30px;
    padding-left: 30px;
}*/