/********************************************** STORY MAP PATRIMOINE | THEME 2 ***************************** /

/* ------------------ Int�gration des fonts ------------------ */

@font-face {
    font-family: "roboto_black";
    src: url('../../css/fonts/Roboto/Roboto-Black.ttf');
}
@font-face {
    font-family: "roboto_bold";
    src: url('../../css/fonts/Roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: "roboto_regular";
    src: url('../../css/fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: "roboto_light";
    src: url('../../css/fonts/Roboto/Roboto-Light.ttf');
}
@font-face {
        font-family: "brandon_black";
        src: url('../../css/fonts/Brandon/Brandon_blk.otf');
        }

/* ------------------ SPLASH ------------------ */
#splash .story-btn-next {
    background-color: #fff;
    transform: translateY(189%);
    right: 48%;
}
#splash .story-btn-next a {
     display: block;
     width: 50px;
     height: 50px;
     background: url(image/nextButton.png) 0 0 no-repeat;
     cursor: pointer;
 }
 #splash .story-btn-next a:hover {
     background: url(image/nextButton.png) 0 -50px no-repeat;
 }
/* ------------------  MAP ------------------  */

/* Titre de la Story Map*/
#content-title {
    left: 10px!important;
}
#content-title h1{
    color:#000;
    font-family: 'brandon_black';
    font-size: 50px!important;
    letter-spacing: -1.5px;
    /*text-shadow: 0px 0px 7px rgba(0,0,0,0.9);
    background-color: rgba(0, 0, 0, 0.7);*/
    padding: 0px 10px 0px 10px;
}
#content-title h3{
    color:#000;
    font-family: 'roboto_bold';
    font-size: 30px!important;
    /*text-shadow: 0px 0px 7px rgba(0,0,0,0.75);*/
    margin-top: -10px;
    margin-left: 11px;
    /*letter-spacing: 1px;*/
}

/* bar de progression*/
.progress {
    background: rgba(245, 245, 245, 1);
    /*border: 3px solid rgba(245, 245, 245, 1);*/
    height: 8px!important;
}
#template .progress-bar-custom {
    background-color: #eec126!important;
}

/* button */
.carButton {
    background-color: rgba(153, 153, 153, 0);
}
.precButton{
    bottom: 4%!important;
    left: 20%!important;
}

.nextButton{
    bottom: 4%!important;
    right: 70%!important;
}

/* ----

/* custom-tooltip */
.tooltip-custom.tooltip-inner {
    background-color: #eec126;
    padding: 10px 8px 10px;
    color: #fff;
    font-family: "roboto_regular";
    font-size: 13px;
    letter-spacing: 1;
}
.tooltip-custom.tooltip.top .tooltip-custom.tooltip-arrow {
    border-top-color: #eec126;
}
.tooltip-custom h5 {
    margin-bottom: 0;
}
.tooltip-custom.tooltip.in {
    opacity: 1;
}
/*.item iframe {
    width: 100%;
    height: 100%;    
    border: none;    
}*/

/* ------------------ PANEL-STORY ------------------ */

/* Forme du panel */
#panel-story {
    font-family: "Open Sans";
    background-color: rgba(255,255,255,0.9);
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}
.item.background{
    top:-20px;
}
.item.background:before{
    opacity: 0.7;
}
/* Contenu �dito*/
.carousel-inner{
    overflow-y: auto;
}
/*.carousel-inner h2{
    padding-left: 30px;
    color: #eec126;
    margin-left: 0px!important;
    /*padding-top:6%;
    font-family: "roboto_black";
    font-size: 30px;
}*/

/******* CSS MOUSTACHE *********/ 

@font-face {
        font-family: "roboto_black";
        src: url('../../css/fonts/Roboto/Roboto-Black.ttf');
    }
@font-face {
    font-family: "roboto_bold";
    src: url('../../css/fonts/Roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: "roboto_regular";
    src: url('../../css/fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: "roboto_light";
    src: url('../../css/fonts/Roboto/Roboto-Light.ttf');
}
@font-face {
        font-family: "brandon_black";
        src: url('../../css/fonts/Brandon/Brandon_blk.otf');
        }

.nom{
    padding-left: 30px;
    color: #eec126;
    margin-left: 0px!important;
    margin-top:10px;
    font-family: "roboto_black";
    font-size: 30px;
}
.url_ba{
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    border: none;
    margin-top:8px;
    margin-bottom:8px;
}
.resume{
    margin-left: 30px;
    color: #333;
    font-family: "roboto_light";
    font-size: 15px;
    padding-right: 30px;
    text-align: justify;
}   

.iframe{
    padding-left: 0px;
    margin-left:30px;
    margin-right:30px;
}
.chiffres{
    font-family: "brandon_black";
    color:#eec126;
    font-size: 30px;
}
.sub-title{
    font-family: "roboto_black";
    color:#eec126;
    font-size: 15px;
    line-height:1;
    margin-top:-4px;
}
.title{
    font-family: "roboto_black";
    font-size: 15px;
    color: black;
}
.info{
    font-family: "roboto_light";
    font-size: 15px;
    margin-top:-3px;
    line-height:1.2;
}
.row{
    margin-top: 15px;
    margin-bottom:15px;
}
#lieux{
    padding-top:5px;
}
.localisation {
    background-image: url(image/placeholder.svg);    
    background-repeat: no-repeat;
    background-size: 13px 14px;
}