/********************************************** STORY MAP PATRIMOINE | THEME ***************************** /

/* ------------------ Int�gration des fonts ------------------ */
@font-face {
    font-family: "spotka_black";
    src: url('../../css/fonts/region_bretagne/spotkablack.ttf');
}
@font-face {
    font-family: "spotka_bold_sc";
    src: url('../../css/fonts/region_bretagne/spotkabold-sc.ttf');
}
@font-face {
    font-family: "spotka_bold";
    src: url('../../css/fonts/region_bretagne/spotkabold.ttf');
}
@font-face {
    font-family: "spotka_medium";
    src: url('../../css/fonts/region_bretagne/spotkamedium.ttf');
}
@font-face {
    font-family: "spotka_regular";
    src: url('../../css/fonts/region_bretagne/spotkaregular.ttf');
}
@font-face {
    font-family: "spotka_alternate_black";
    src: url('../../css/fonts/region_bretagne/spotka-alternatebold.ttf');
}
@font-face {
    font-family: "spotka_alternate_bold";
    src: url('../../css/fonts/region_bretagne/spotka-alternatebold.ttf');
}
@font-face {
    font-family: "spotka_alternate_medium";
    src: url('../../css/fonts/region_bretagne/spotka-alternatemedium.ttf');
}
@font-face {
    font-family: "spotka_alternate_regular";
    src: url('../../css/fonts/region_bretagne/spotka-alternateregular.ttf');
}



/****------------------------------- MEDIA XS -----------------------------****/
@media (max-width: 768px) {
	.container-fluid{
		margin: 0!important;
		padding: 0!important;
        height: 100%!important;
	}
     .resume {
        display:none;
    }
    .carousel-inner h2{
        font-size: 18px;        
        padding-top:0;
        color:#fff!important;
        text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.50);
        margin-top: 5%!important;
    }
    .ks-xs {
        display:block;
        height: 100%;
     }
    .ks-bg {
        display:none;
     }
     .nextButton, .precButton {
        top: 25%;
     }
     .image{
     	padding: 0!important;
     	margin-left: 0!important;
     }
    .ks-btn{
    	padding:10px 10px 10px 10px!important;
    	margin-left: 15px!important;
    	background-color: #00a699!important;
    }
    .ks-btn .img{
    	width: 3%;
    }	
    .ks-bottom{
    	margin-top: 5px;
    }
}
/* ------- Style pop-up ------*/
.modal-content{
	border-radius: 0px;
	border: none;
}
.modal-header{
	border-bottom: none;
}
.modal-header .close{
	opacity: 1;
	color:#555;
	margin-top: 0px;
}
.modal-title{
	color:#00a699;
	font-family: "spotka_alternate_medium";
	font-size:18px;
}
.modal-body{
	color: #555;
	font-family: "spotka_alternate_regular";
	font-size: 15px;
	text-align: justify;
	padding-top: 0px;
}

/****------------------------------- MEDIA LG -----------------------------****/
@media (min-width: 768px) {
     .precButton{
        bottom: 4%!important;
        left: 15%!important;
     }
     .nextButton{
        bottom: 4%!important;
        right: 70%!important;
     }
     .carousel-inner{
        overflow-y: auto;
    }    
     .carousel-inner h2{
        font-size: 26px;
    }
    .ks-xs {
            display:none;
    }
    .ks-bg {
        display:block;
     }
 }

/* ------------------  MAP ------------------  */
/* Bandeau R�gion */
/*#bandeau{
    background-image: url('image/bandeau_region_magenta.svg');    
    background-repeat: no-repeat;
    background-size: 140px 140px;
    height: 140px;
    width: 140px;
    z-index: 10;
    position: fixed;
}*/
/* Titre de la Story Map*/
#content-title {
    left: 11.5%;
    top:4%;
}
#content-title h1{
    color:black;
    font-family: 'spotka_bold_sc';
    font-size: 34px;
    letter-spacing: -1.5px;
}
#content-title h3{
    color:black;
    font-family: 'spotka_black';
    font-size: 30px;
    margin-top: -10px;
}

/* Openlayers 3 controls */
.ol-control button {
    background-color: rgba(149, 165, 166, 0.5);
}
.ol-control button:hover,
.ol-control button:focus {
    background-color: rgba(149, 165, 166, 0.8);
}

/* Hide zoom controls */
.ol-zoom {
    display: none;
}
.ol-custom-overviewmap,
.ol-custom-overviewmap.ol-uncollapsible {
    bottom: 10px;
    left: 0;
    right: auto;
    top: auto;
}
.ol-custom-overviewmap:not(.ol-collapsed) {
    border: 0px solid #f5f5f5;
}
.ol-custom-overviewmap .ol-overviewmap-map {
    border: none;
    width: 200px;
}
.ol-custom-overviewmap .ol-overviewmap-box {
    border: 2px solid #A39F9F;
}
.ol-custom-overviewmap:not(.ol-collapsed) button {
    bottom: auto;
    left: auto;
    right: 1px;
    top: 1px;
}
.ol-zoom {
    top: 70%;
    left: 0.5em;
}
/* Carousel template */
.carousel-indicators {
    background-color: #d8d8d8;
}
.carousel-control span:hover {
    background-color: #8e44ad;
}
.carousel-control span {
    background-color: #9b59b6;
}
.carousel-indicators .active {
    background-color: #8e44ad;
}

/* bar de progression*/
.progress {
    background: rgba(245, 245, 245, 1);
    height: 12px!important;
}
.progress-bar{
	box-shadow: none;
	-webkit-box-shadow: none;
}
#template .progress-bar-custom {
    background-color: #0094AB;
}

/* ----

/* custom-tooltip */
.tooltip-custom.tooltip-inner {
    background-color: #0094AB;
    padding: 10px 8px 10px;
    color: #fff;
    font-family: 'Trebuchet MS', Arial, Sans-serif;
    font-size: 14px;
}
.tooltip-custom.tooltip.top .tooltip-custom.tooltip-arrow {
    border-top-color: #0094AB;
}
.tooltip-custom h5 {
    margin-bottom: 0;
}
.tooltip-custom.tooltip.in {
    opacity: 0.9;
}
.item iframe {
    width: 100%;
    height: 100%;    
    border: none;    
}

/* ------------------ PANEL-STORY ------------------ */

/* Forme du panel */
#panel-story {
    font-family: 'Trebuchet MS', 'Arial', Sans-serif;
    background-color: rgba(255,255,255,0.9);
    padding: 20px 10px 10px 30px;
}
.item.background{
    top:-20px;
}
.item.background:before{
    opacity: 0.7;
}
/* Contenu �dito*/

.carousel-inner h2{
    color: #0094AB;
    margin-left: 0px!important;
    font-family: "spotka_bold_sc";    
    font-size: 30px;
}

#panel-story .texte{
	color: #333;
	font-family: 'Trebuchet MS', Arial, Sans-serif;
	font-size: 14px;
	text-align: justify;
    margin-top: 1em;
}

#panel-story .sub-title{
    font-family: "spotka_medium";
    color: #333;
    font-size: 21px;
    margin-top: 0em;
    line-height: 1;
    margin-bottom: 1em;
}

.ks-btn {
    font-family: 'Trebuchet MS', Arial, Sans-serif;
    border-left: solid 5px;
	border-left-color: #1a1a1a;    
    box-shadow: 1px 1px 0 rgba(0,0,0,.3);
    color: #333;
    background: #eee;
    transition: all .1s ease;
    transition: border 1s ease;
    text-align: center;
    padding: 6px 12px;
    margin-bottom: 0;
    display: inline-block;
    font-size: 14px;
    line-height: 1.42857143;
    cursor: pointer;

}
.ks-btn:hover {
    border-color: #1a1a1a #1a1a1a #1a1a1a #000;
    color: #fff;
    background: #1a1a1a;
    text-decoration: none;
}    	

/* Image - Photos */
.lien_image {
    max-height: 5%;
    margin-left: 10px;
    padding-right:20px;
}

.sub-texte{
    color: #333;
    font-family: 'Trebuchet MS', Arial, Sans-serif;
    font-size: 12px;
    padding: 0.3em;
}


/********Style fond europ�en **********/

/*  Structuration du template europe */
#panel-story{
    background-image: url(image/etoile_fond_025.png);
    background-size: 170%;
    background-repeat: no-repeat;
    background-position: -150px -115px;
}


.sub-title-text{
    color: #333;
    font-family: "spotka_bold";    
    font-size: 16px;
    text-transform: uppercase;
}

.col-info{
    padding:0px; 
    line-height: 1.1;
}

.texte a{
    color: #333;
}

.texte a:hover{
    color: #0094AB;
}



/* B�n�ficiaire */
#beneficiaire{
    border-bottom: 1.3px solid #333;
    border-top: 1px solid #333;
    line-height: 1.2;
    padding: 6px;
}

/* Localisation */
.localisation{
    background-image: url(image/placeholder.svg);
    background-repeat: no-repeat;
    background-size: 13px 14px;
    padding-left: 15px;
}

/* Cout du projet*/

.number {
    margin-top: 0.5em; 
    padding:15px;
}

.numberkey{
    color: #0094AB;
    font-family: "spotka_bold";    
    font-size: 32px;
}

.title-numberkey{
    color: #0094AB;
    font-family: "spotka_bold_sc";    
    font-size: 14px;
    text-transform: uppercase;
}

.numberProj{
    line-height: 1;
    padding: 0.5em;
}

.numberkeyProj{
    color: #0094ab;
    font-family: "spotka_bold";    
    font-size: 40px;
}

.title-numberkeyProj{
    color: #0094ab;
    font-family: "spotka_bold_sc";    
    font-size: 14px;
    text-transform: uppercase;
}

/* CIRCLE DONUT */ 
.clearfix{
    font-family: "spotka_bold_sc";
    margin-left:15%;
}

/* Button en savoir plus */
.button {
    text-align: center; 
    margin-top: 2em;
}