/*---------------------------------------*/
/* Font */
/*---------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto');


/*---------------------------------------*/
/* Register Form */
/*---------------------------------------*/
body {
  background:linear-gradient(to right, #e3cfda 0%, #BA88A4 30%, #BA88A4 70%, #e3cfda 99%);
}

.storymap-form {
  font-family: "Roboto", sans-serif;
  width:850px;
  margin:30px auto;
  background:linear-gradient(to right, #ffffff 0%, #fafafa 50%, #ffffff 99%);
  border-radius: 10px;
}

/*---------------------------------------*/
/* Form Header */
/*---------------------------------------*/
.form-header  {
  background-color: #EFF0F1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.form-header h1 {
  font-size: 28px;
  text-align:center;
  color:#995f82;
  padding:20px 0;
  border-bottom:1px solid #cccccc;
}

.form-body h2 {
  font-size: 18px;
  text-align:left;
  color:#995f82;
  padding:10px 0;
  border-bottom:1px solid #995f82;
}

.form-body h3 {
  font-size: 18px;
  text-align:left;
  color:#995f82;
  padding:10px 0;
}


.accueil {
  margin-top: 30px;
}

/*---------------------------------------*/
/* Form Body */
/*---------------------------------------*/
.form-body {
  padding:10px 40px;
  color:#666;
}

.form-group{
  margin-bottom: 10px;
}

.form-body .label-title {
  color:#BA88A4;
  font-size: 15px;
  font-weight: bold;
}

.form-body .form-input {
    font-size: 15px;
    box-sizing: border-box;
    width: 100%;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    color: #333333;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    background: white;
    outline: none;
}

img {
    width : 40vw;
    max-width : 750px;
}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 3px solid #69003F;
}


.horizontal-group .left{
  float:left;
  width:49%;
}

.horizontal-group .right{
  float:right;
  width:49%;
}

input[type="file"] {
  outline: none;
  cursor:pointer;
  padding: 1;
}

#range-label {
  width:15%;
  padding:5px;
  background-color: #BA88A4;
  color:white;
  border-radius: 5px;
  font-size: 17px;
  position: relative;
  top:-8px;
}


::-webkit-input-placeholder  {
  color:#d9d9d9;
}

#zoom {
  accent-color: #BA88A4;
}

a {
  font-size: 18px;
  text-align:left;
  padding:10px 0px;
}


a {
  outline: none;
  text-decoration: none;
}

a:link {
  color: #BA88A4;
}

a:hover {
  color:#995f82;
  border-bottom: 1px solid;
  padding: 0px 0px;
}

a:active {
  color: red;
}

/*---------------------------------------*/
/* Form Footer */
/*---------------------------------------*/
.storymap-form .form-footer  {
  background-color: #EFF0F1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding:10px 40px;
  text-align: right;
  border-top: 1px solid #cccccc;
  clear:both;
}

.form-footer span {
  float:left;
  margin-top: 10px;
  color:#999;  
  font-style: italic;
  font-weight: thin;
}

.btn {
   display:inline-block;
   padding:10px 20px;
   background-color: #BA88A4;
   font-size:17px;
   border:none;
   border-radius:5px;
   color:#f2dae8;
   cursor:pointer;
}

.btn:hover {
  background-color: #995f82;
  color:white;
}