/********************************************** STORY MAP PATRIMOINE | THEME 2 | LIST ***************************** /

/* ------------------ Intégration des fonts ------------------ */

@font-face {
    font-family: "spotka-alternateblack";
    src: url('fonts/spotka-alternateblack.ttf');
}

@font-face {
    font-family: "spotka-alternatebold";
    src: url('fonts/spotka-alternatebold.ttf');
}

@font-face {
    font-family: "spotka-alternatemedium";
    src: url('fonts/spotka-alternatemedium.ttf');
}

@font-face {
    font-family: "spotka-alternateregular";
    src: url('fonts/spotka-alternateregular.ttf');
}

/* ------------------ SPLASH ------------------ */
#splash .story-btn-next {
    background-color: rgba(238, 238, 238, 0);
    transform: translateY(300%);
    right: 15%;
}
#splash .story-btn-next a {
     display: block;
     width: 50px;
     height: 50px;
     background: url(image/nextButton.png) 0 0 no-repeat;
     cursor: pointer;
 }
 #splash .story-btn-next a:hover {
     background: url(image/nextButton.png) 0 -50px no-repeat;
 }
/* ------------------  MAP ------------------  */

/* Titre de la Story Map === OK */
#content-title {
    left: 10px!important;
}
#content-title h1{
    color:#000;
    font-family: 'spotka-alternateblack';
    letter-spacing: -1.5px;
    padding: 0px 10px 0px 10px;
}
#content-title h3{
    color:#000;
    font-family: 'spotka-alternatebold';
    font-size: 30px!important;
    margin-top: -10px;
    margin-left: 11px;
    padding-left: 25px;
    background-image: url(image/calendar.svg);
    background-repeat: no-repeat;
    background-size: 15px 20px;
    background-position-y: 10px;
}

/* Openlayers 3 controls */
.ol-control button {
    background-color: rgba(149, 165, 166, 0.5);
}
.ol-control button:hover,
.ol-control button:focus {
    background-color: rgba(149, 165, 166, 0.8);
}

/* Hide zoom controls */
.ol-zoom {
    display: none;
}
.ol-custom-overviewmap,
.ol-custom-overviewmap.ol-uncollapsible {
    bottom: 10px;
    left: 0;
    right: auto;
    top: auto;
}
.ol-custom-overviewmap:not(.ol-collapsed) {
    border: 0px solid #f5f5f5;
}
.ol-custom-overviewmap .ol-overviewmap-map {
    border: none;
    width: 200px;
}
.ol-custom-overviewmap .ol-overviewmap-box {
    border: 2px solid #A39F9F;
}
.ol-custom-overviewmap:not(.ol-collapsed) button {
    bottom: auto;
    left: auto;
    right: 1px;
    top: 1px;
}
.ol-zoom {
    top: 70%;
    left: 0.5em;
}

/* custom-tooltip */
.tooltip-custom.tooltip-inner {
    background-color: #000;
    padding: 10px 8px 10px;
    color: #fff;
    font-family: "Trebuchet MS";
    font-size: 13px;
    letter-spacing: 1;
}
.tooltip-custom.tooltip.top .tooltip-custom.tooltip-arrow {
    border-top-color: #000;
}
.tooltip-custom h5 {
    margin-bottom: 0;
}
.tooltip-custom.tooltip.in {
    opacity: 1;
}
.item iframe {
    width: 100%;
    height: 100%;    
    border: none;    
}

/* ------------------ PANEL-STORY ------------------ */

/* Forme du panel */
#panel-story {
    font-family: "Trebuchet MS";
    background-color: rgba(255,255,255,1)!important;
}


.item-story h2{      
    font-family: "spotka-alternateblack";
    font-size: 20px;
}
.item-story h4{      
    font-family: "spotka-alternatebold";
    font-size: 16px;
    margin-top: -10px;
}

.localisation, .montant{
    padding-left: 20px;
    color: #000;
    font-family: "spotka-alternatemedium";
    font-size:18px;    
}

a:hover{
    color: #fff!important;
    text-decoration: underline;
    background-color: rgba(252, 88, 67, 0.9);
}   


.item-story.active{
    opacity: 1!important;
    color: #555!important;
    background-color: #fff!important;
}
.item-story{
    background-color: #fff !important;
    opacity: 0.2!important;
    color: #555!important;
    margin-bottom: 10%;
    margin-left: 15px;
}

.encadre {
    margin-bottom: 20px;
    padding: 1.4em;
    border-left: 0.5em solid rgb(227, 24, 24);
    /*background: rgb(238, 238, 238);*/
    text-align: justify;
}

.localisation {
    background-image: url(image/placeholder.svg);
    background-repeat: no-repeat;
    background-size: 15px 20px;    
}

.montant {
    background-image: url(image/euro.svg);
    background-repeat: no-repeat;
    background-size: 15px 20px;    
}

.encadre.selection {
  padding-top: 5px;
}

.encadre.selection.territoire {
    border-left: .5em solid #5a76ab;
}
.encadre.selection.formation {
    border-left: .5em solid #e31818;		}
.encadre.selection.economie {
			border-left: .5em solid #ffc90d;		}
.encadre.selection.environnement {
			border-left: .5em solid #468419;		}
.encadre.selection.transports {
			border-left: .5em solid #7d7566;		}
.encadre.selection.sports, .encadre.selection.culture {
			border-left: .5em solid #d32b75;		}

.encadre.selection.tourisme {
			border-left: .5em solid #906a83;		}



		.commentaire {
			font-size: small;
}


.territoire h2 ,.territoire h4 {
			color: #5a76ab;
		}
.formation h2, .formation h4{
			color: #e31818;		}
.economie h2, .economie h4{
			color: #ffc90d;		}
.environnement h2, .environnement h4{
			color: #468419;		}
.transports h2, .transports h4{
			color: #7d7566;		}
.sports h2, .culture h2, .sports h4, .culture h4{
			color: #d32b75;		}

.tourisme h2{
			color: #906a83;		}