/********************************************** STORY MAP PATRIMOINE | THEME ***************************** /

/* ------------------ Intégration des fonts ------------------ */
@font-face {
    font-family: "spotka_black";
    src: url('../../css/fonts/region_bretagne/spotkablack.ttf');
}
@font-face {
    font-family: "spotka_bold_sc";
    src: url('../../css/fonts/region_bretagne/spotkabold-sc.ttf');
}
@font-face {
    font-family: "spotka_bold";
    src: url('../../css/fonts/region_bretagne/spotkabold.ttf');
}
@font-face {
    font-family: "spotka_medium";
    src: url('../../css/fonts/region_bretagne/spotkamedium.ttf');
}
@font-face {
    font-family: "spotka_regular";
    src: url('../../css/fonts/region_bretagne/spotkaregular.ttf');
}
@font-face {
    font-family: "spotka_alternate_black";
    src: url('../../css/fonts/region_bretagne/spotka-alternatebold.ttf');
}
@font-face {
    font-family: "spotka_alternate_bold";
    src: url('../../css/fonts/region_bretagne/spotka-alternatebold.ttf');
}
@font-face {
    font-family: "spotka_alternate_medium";
    src: url('../../css/fonts/region_bretagne/spotka-alternatemedium.ttf');
}
@font-face {
    font-family: "spotka_alternate_regular";
    src: url('../../css/fonts/region_bretagne/spotka-alternateregular.ttf');
}



/****------------------------------- MEDIA XS -----------------------------****/
@media (max-width: 768px) {
	.container-fluid{
		margin: 0!important;
		padding: 0!important;
        height: 100%!important;
	}
     .resume {
        display:none;
    }
    .carousel-inner h2{
        font-size: 18px;        
        padding-top:0;
        color:#fff!important;
        text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.50);
        margin-top: 5%!important;
    }
    .ks-xs {
        display:block;
        height: 100%;
     }
    .ks-bg {
        display:none;
     }
     .nextButton, .precButton {
        top: 25%;
     }
     .image{
     	padding: 0!important;
     	margin-left: 0!important;
     }
    .ks-btn{
    	padding:10px 10px 10px 10px!important;
    	margin-left: 15px!important;
    	background-color: #00a699!important;
    }
    .ks-btn .img{
    	width: 3%;
    }	
    .ks-bottom{
    	margin-top: 5px;
    }
}
/* ------- Style pop-up ------*/
.modal-content{
	border-radius: 0px;
	border: none;
}
.modal-header{
	border-bottom: none;
}
.modal-header .close{
	opacity: 1;
	color:#555;
	margin-top: 0px;
}
.modal-title{
	color:#00a699;
	font-family: "spotka_alternate_medium";
	font-size:18px;
}
.modal-body{
	color: #555;
	font-family: "spotka_alternate_regular";
	font-size: 15px;
	text-align: justify;
	padding-top: 0px;
}

/****------------------------------- MEDIA LG -----------------------------****/
@media (min-width: 768px) {
     .precButton{
        bottom: 4%!important;
        left: 70%!important;
     }
     .nextButton{
        bottom: 4%!important;
        right: 20%!important;
     }
     .carousel-inner{
        overflow-y: auto;
    }    
     .carousel-inner h2{
        font-size: 26px;
        padding-top:3%;
    }
    .ks-xs {
            display:none;
    }
    .ks-bg {
        display:block;
     }
     #panel-story {
        width:50%!important;
     }
 }

/* ------------------  MAP ------------------  */
/* Bandeau Région */
#bandeau{
    background-image: url('image/bandeau_region_magenta.svg');    
    background-repeat: no-repeat;
    background-size: 140px 140px;
    height: 140px;
    width: 140px;
    z-index: 10;
    position: fixed;
}
/* Titre de la Story Map*/
#content-title {
    left: 11.5%;
    top:4%;
}
#content-title h1{
    color:black;
    font-family: 'spotka_bold_sc';
    font-size: 34px;
    letter-spacing: -1.5px;
}
#content-title h3{
    color:black;
    font-family: 'spotka_black';
    font-size: 30px;
    margin-top: -10px;
}

/* Openlayers 3 controls */
.ol-control button {
    background-color: rgba(149, 165, 166, 0.5);
}
.ol-control button:hover,
.ol-control button:focus {
    background-color: rgba(149, 165, 166, 0.8);
}

/* Hide zoom controls */
.ol-zoom {
    display: none;
}
.ol-custom-overviewmap,
.ol-custom-overviewmap.ol-uncollapsible {
    bottom: 10px;
    left: 0;
    right: auto;
    top: auto;
}
.ol-custom-overviewmap:not(.ol-collapsed) {
    border: 0px solid #f5f5f5;
}
.ol-custom-overviewmap .ol-overviewmap-map {
    border: none;
    width: 200px;
}
.ol-custom-overviewmap .ol-overviewmap-box {
    border: 2px solid #A39F9F;
}
.ol-custom-overviewmap:not(.ol-collapsed) button {
    bottom: auto;
    left: auto;
    right: 1px;
    top: 1px;
}
.ol-zoom {
    top: 70%;
    left: 0.5em;
}
/* Carousel template */
.carousel-indicators {
    background-color: #d8d8d8;
}
.carousel-control span:hover {
    background-color: #8e44ad;
}
.carousel-control span {
    background-color: #9b59b6;
}
.carousel-indicators .active {
    background-color: #8e44ad;
}

/* bar de progression*/
.progress {
    background: rgba(245, 245, 245, 1);
    height: 12px!important;
}
.progress-bar{
	box-shadow: none;
	-webkit-box-shadow: none;
}
#template .progress-bar-custom {
    background-color: #BA88A4;
}

/* button */
.carButton {
    background-color: rgba(153, 153, 153, 0);
}
.precButton a {
     background: url(image/precButton_magenta.png) 0 0 no-repeat!important;
     width: 40px!important;
     height: 40px!important;
 }
.precButton a:hover {
     background: url(image/precButton_magenta.png) 0 -40px no-repeat!important;
 }
.nextButton a {
     background: url(image/nextButton_magenta.png) 0 0 no-repeat!important;
     width: 40px!important;
     height: 40px!important;
 }
.nextButton a:hover {
     background: url(image/nextButton_magenta.png) 0 -40px no-repeat!important;
 }
/* ----

/* custom-tooltip */
.tooltip-custom.tooltip-inner {
    background-color: #69003F;
    padding: 10px 8px 10px;
    color: #fff;
    font-family: "spotka_regular";
    font-size: 14px;
}
.tooltip-custom.tooltip.top .tooltip-custom.tooltip-arrow {
    border-top-color: #69003F;
}
.tooltip-custom h5 {
    margin-bottom: 0;
}
.tooltip-custom.tooltip.in {
    opacity: 0.9;
}
.item iframe {
    width: 100%;
    height: 100%;    
    border: none;    
}

/* ------------------ PANEL-STORY ------------------ */

/* Forme du panel */
#panel-story {
    font-family: 'Trebuchet MS', 'Arial', Sans-serif;
    background-color: rgba(255,255,255,0.9);
    padding-left: 0px;
    padding-right: 0px;
}
.item.background{
    top:-20px;
}
.item.background:before{
    opacity: 0.7;
}
/* Contenu édito*/

.carousel-inner h2{
    padding-left: 30px;
    color: #BA88A4;
    margin-left: 0px!important;  
    padding-right: 30px;  
    font-family: "spotka_bold";    
}
.thumbnail img{
    max-height: 200px;
}
.credit{
    color: #333;
    font-family: 'Trebuchet MS', Arial, Sans-serif;
    font-size: 11px!important;
    font-style: italic;
    text-align: center;
}
#panel-story .resume{
	color: #333;
	font-family: 'Trebuchet MS', Arial, Sans-serif;
	font-size: 14px;
	text-align: justify;
    margin-left: 30px;
    padding-right: 30px;
}
#panel-story .localisation{
	padding-left: 20px;
	margin-top: 15px;
	color: #BA88A4;
	font-family: "spotka_alternate_bold";
	font-size:18px;
}
.localisation {
    background-image: url(image/map_marker_magenta.svg);    
    background-repeat: no-repeat;
    background-size: 15px 20px;
    margin-left: 30px;
}
#panel-story .historique{
	padding-left: 20px;
	color:#BA88A4;
	font-family: "spotka_alternate_bold";
	font-size:18px;
}
.historique {
    background-image: url(image/calendar_magenta.svg);    
    background-repeat: no-repeat;
    background-size: 15px 20px;
    margin-left: 30px;
    margin-bottom: 25px;
}
.ks-btn {
    font-family: 'Trebuchet MS', Arial, Sans-serif;
    border-left: solid 5px;
	border-left-color: #1a1a1a;    
    box-shadow: 1px 1px 0 rgba(0,0,0,.3);
    color: #333;
    background: #eee;
    transition: all .1s ease;
    transition: border 1s ease;
    text-align: center;
    padding: 6px 12px;
    margin-bottom: 0;
    display: inline-block;
    font-size: 14px;
    line-height: 1.42857143;
    margin-left: 30px;
    cursor: pointer;

}
.ks-btn:hover {
    border-color: #1a1a1a #1a1a1a #1a1a1a #000;
    color: #fff;
    background: #1a1a1a;
    text-decoration: none;
}    	

/* Image - Photos */
.lien_image {
    max-height: 5%;
    margin-left: 10px;
    padding-right:20px;
}

