@media (min-width: 768px) {
     #map {
         position: fixed;
         width: 100vw;
         height: 100vh;
         margin: 0;
     }
     #content-title {
        display:block;
     }
     #panel-story {
        position: fixed;
        width: 50%;
        right: 0px;
        overflow-y: auto;    
     }     
 }
 
 @media (max-width: 768px) {
     #panel-story {
        position: relative;
        width: 100%;        
        overflow-y: auto;        
     }
     #map {
         position: relative;
         width: 100vw;         
         height: 50vh;
         margin: 0;
     }    
     #content-title {
        display:none!important;
     }     
     #template {
            height:50%;
         }     
}

.panel-story-carousel {
    height: 100%;
    top: 0%;
}
.carousel-inner,
.carousel-inner .item {
    height: 100%;
}
.carousel-inner h2 {  
  margin-left: 10px;
}
.carousel {
    height: 100%;
    overflow-x: hidden;
}
.carousel-indicators {
    width: 100%;
    left: 132px;
}
.carousel-control {
    display: none;
}
.progress {
    border-radius: 0px;
    height: 10px;
    position: fixed;
    height: 10px;
    bottom: 0px;
    width: 100%;
    margin: 0;
}

.nextButton {
    position: fixed;
    bottom: 45%;
    right: 2%;
    z-index: 10;
    border-radius: 50px;
}
    
.precButton {
    position: fixed;
    bottom: 45%;
    left: 2%;
    z-index: 10;
    border-radius: 52px;
}

.nextButton a {
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/nextButton.png) 0 0 no-repeat;
    cursor: pointer;
}
.nextButton a:hover {
    background: url(../img/nextButton.png) 0 -50px no-repeat;
}

.precButton a {
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/precButton.png) 0 0 no-repeat;
    cursor: pointer;
}
.precButton a:hover {
    background: url(../img/precButton.png) 0 -50px no-repeat;
}

#panel-story .image-popup {
    cursor: pointer;
}