 #panel-story {
             font-family: "Open Sans";
              position: fixed;              
              width: 30vw;             
              right: 0px;
              background-color: rgba(255,255,255,.4);
              overflow-y: auto;              
            }

.panel-story-list {
              height: 100%;
              top:0px;
}
      
.item-story {
      opacity: 0.4;
      /*min-height: 250px;*/
      color: #fff;  
      background-color: #DFDDDD;
      /*height: 450px;*/
}
  
.item-story.active {
      opacity: 1;
      color: #333; 
      background-color: #fff;
 }      