/* ---- Int�gration des fonts */

@font-face {
    font-family: "PT_bold";
    src: url('../../css/fonts/PT_Sans_Narrow/PT_Sans_Narrow_Bold.ttf');
}
@font-face {
    font-family: "PT_regular";
    src: url('../../css/fonts/PT_Sans_Narrow/PT_Sans_Narrow_Regular.ttf');
}
@font-face {
    font-family: "roboto_black";
    src: url('../../css/fonts/Roboto/Roboto-Black.ttf');
}
@font-face {
    font-family: "roboto_bold";
    src: url('../../css/fonts/Roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: "roboto_regular";
    src: url('../../css/fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: "roboto_light";
    src: url('../../css/fonts/Roboto/Roboto-Light.ttf');
}


/* Titre de la storymap */

#content-title {
    font-family: 'PT_bold';
    color: #ffffff;
}
/* PANEL-STORY */

#panel-story {
    font-family: "Open Sans";
    background-color: rgba(0,0,0,1);
    padding-left: 0px;
    padding-right: 0px;
}

.item.background:before{
	opacity: 0.7;
}
/* Openlayers 3 controls */

.ol-control button {
    background-color: rgba(149, 165, 166, 0.5);
}
.ol-control button:hover,
.ol-control button:focus {
    background-color: rgba(149, 165, 166, 0.8);
}
/* Hide zoom controls */

.ol-zoom {
    display: none;
}
.ol-custom-overviewmap,
.ol-custom-overviewmap.ol-uncollapsible {
    bottom: 10px;
    left: 0;
    right: auto;
    top: auto;
}
.ol-custom-overviewmap:not(.ol-collapsed) {
    border: 0px solid #f5f5f5;
}
.ol-custom-overviewmap .ol-overviewmap-map {
    border: none;
    width: 200px;
}
.ol-custom-overviewmap .ol-overviewmap-box {
    border: 2px solid #A39F9F;
}
.ol-custom-overviewmap:not(.ol-collapsed) button {
    bottom: auto;
    left: auto;
    right: 1px;
    top: 1px;
}
.ol-zoom {
    top: 70%;
    left: 0.5em;
}
/* Carousel template */

.carousel-indicators {
    background-color: #d8d8d8;
}
.carousel-control span:hover {
    background-color: #8e44ad;
}
.carousel-control span {
    background-color: #9b59b6;
}
.carousel-indicators .active {
    background-color: #8e44ad;
}
.progress {
    background: rgba(245, 245, 245, 1);
    /*border: 3px solid rgba(245, 245, 245, 1);*/
    height: 8px;
}
#template .progress-bar-custom {
    background-color: #000000!important;
}
.carButton {
    background-color: rgba(238, 238, 238, 0.2);
}


/* custom-tooltip */

.tooltip-custom.tooltip-inner {
    background-color: #000000;
    padding: 10px 8px 10px;
    color: #fff;
    font-family: "PT_regular";
    font-size: 15px;
    letter-spacing: 1;
}
.tooltip-custom.tooltip.top .tooltip-custom.tooltip-arrow {
    border-top-color: #000000;
}
.tooltip-custom h5 {
    margin-bottom: 0;
}
.tooltip-custom.tooltip.in {
    opacity: 1;
}
.item iframe {
    width: 100%;
    height: 100%;    
    border: none;    
}

/*----------------------------------------------- Modifications css Agathe*/

/* Titre StoryMap*/
#content-title h1{
	font-size: 55px!important;
	text-shadow: 0px 0px 7px rgba(0,0,0,0.9);
	letter-spacing: 2px;
	background-color: rgba(0, 0, 0, 1);
}
#content-title h3{
	color:#000;
	font-size: 30px!important;
	text-shadow: 0px 0px 7px rgba(0,0,0,0.75);
	letter-spacing: 1px;
}

/* Panel-Story*/
#panel-story .etape{
	font-family: "PT_bold";
	font-size:18px;
}
#panel-story .resume{
	font-family: "roboto_light";
	font-size: 15px;
	padding-right: 30px;
	text-align: justify;
}
#panel-story .localisation{
	margin-top: 15px;
	font-family: "PT_bold";
	font-size:18px;
	letter-spacing: 0.5px;
}
.localisation {
    background-image: url(image/placeholder.svg);    
    background-repeat: no-repeat;
    background-size: 15px 20px;
    margin-left: 30px;
}
#panel-story .historique{
	font-family: "PT_bold";
	font-size:18px;
	letter-spacing: 0.5px;
}
.historique {
    background-image: url(image/calendar.svg);    
    background-repeat: no-repeat;
    background-size: 15px 20px;
    margin-left: 30px;
    margin-bottom: 25px;
}
.lien_dossi {
	margin-left: 30px;
	color: #000;
	font-size:13px;
	background-color: white;
	padding: 10px 20px 10px 20px;
	border-radius: 20px;
	font-family: "roboto_bold";
}
a:hover{
	color: #000!important;
	text-decoration: underline;
}	
.carousel-inner h2{
	font-family: 'PT_bold';
	font-size: 40px;
}

