/* ---- Intégration des fonts */

@font-face {
    font-family: "gilroy_bold";
    src: url('../../css/fonts/Gilroy-ExtraBold.otf');
}
@font-face {
    font-family: "roboto_black";
    src: url('../../css/fonts/Roboto/Roboto-Black.ttf');
}
@font-face {
    font-family: "roboto_bold";
    src: url('../../css/fonts/Roboto/Roboto-Bold.ttf');
}
#splash .story-btn-next {
    background-color: rgba(54, 84, 113, 0.8);
}
/* Titre de la storymap */

#content-title {
    font-family: 'roboto_black';
    color: #365471;
}
/* PANEL-STORY */

#panel-story {
    font-family: "Open Sans";
    background-color: rgba(255, 255, 255, 0.4);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.870588) 50%);
}
/* Openlayers 3 controls */

.ol-control button {
    background-color: rgba(149, 165, 166, 0.5);
}
.ol-control button:hover,
.ol-control button:focus {
    background-color: rgba(149, 165, 166, 0.8);
}
/* Hide zoom controls */

.ol-zoom {
    display: none;
}
.ol-custom-overviewmap,
.ol-custom-overviewmap.ol-uncollapsible {
    bottom: 10px;
    left: 0;
    right: auto;
    top: auto;
}
.ol-custom-overviewmap:not(.ol-collapsed) {
    border: 0px solid #f5f5f5;
}
.ol-custom-overviewmap .ol-overviewmap-map {
    border: none;
    width: 200px;
}
.ol-custom-overviewmap .ol-overviewmap-box {
    border: 2px solid #A39F9F;
}
.ol-custom-overviewmap:not(.ol-collapsed) button {
    bottom: auto;
    left: auto;
    right: 1px;
    top: 1px;
}
.ol-zoom {
    top: 70%;
    left: 0.5em;
}
/* Carousel template */

.carousel-indicators {
    background-color: #d8d8d8;
}
.carousel-control span:hover {
    background-color: #8e44ad;
}
.carousel-control span {
    background-color: #9b59b6;
}
.carousel-indicators .active {
    background-color: #8e44ad;
}
.carousel-inner h2 {
    font-family: "roboto_black";
    color: #365471;
}
.progress {
    background: rgba(245, 245, 245, 1);
    border: 3px solid rgba(245, 245, 245, 1);
}
#template .progress-bar-custom {
    background-color: #315471!important;
}
.carButton {
    background-color: rgba(54, 84, 113, 0.8);
}
/* custom-tooltip */

.tooltip-custom.tooltip-inner {
    background-color: #315471;
    padding: 10px 8px 10px;
    color: #fff;
    font-family: "roboto_bold";
    letter-spacing: 1px;
}
.tooltip-custom.tooltip.top .tooltip-custom.tooltip-arrow {
    border-top-color: #315471;
}
.tooltip-custom h5 {
    margin-bottom: 0;
}
.tooltip-custom.tooltip.in {
    opacity: 1;
}
.item iframe {
    width: 100%;
    height: 100%;    
    border: none;    
}